In [1]:
import osmnx as ox
import matplotlib.pyplot as plt

In [2]:
def show_map():
    G = ox.graph_from_place("Sampa", network_type="drive")
    # fig, ax = ox.plot_graph(G)
    gdf_nodes, gdf_relationships = ox.graph_to_gdfs(G)
    gdf_nodes.reset_index(inplace=True)
    gdf_relationships.reset_index(inplace=True)
    # gdf_nodes.plot(markersize=0.1)
    # gdf_relationships.plot(markersize=0.01, linewidth=0.5)
    ox.plot_graph(G)
    plt.show()

In [ ]:
#show_map()

In [4]:
G = ox.graph_from_place("Sampa", network_type="drive")

In [5]:
gdf_nodes, gdf_relationships = ox.graph_to_gdfs(G)
gdf_nodes.reset_index(inplace=True)
gdf_relationships.reset_index(inplace=True)

In [6]:
gdf_relationships.geometry

0         LINESTRING (-46.70397 -23.56299, -46.70373 -23...
1         LINESTRING (-46.70397 -23.56299, -46.70408 -23...
2         LINESTRING (-46.70223 -23.56746, -46.70228 -23...
3         LINESTRING (-46.69923 -23.57296, -46.69994 -23...
4         LINESTRING (-46.70207 -23.57183, -46.70181 -23...
                                ...
302603    LINESTRING (-46.68869 -23.76126, -46.68854 -23...
302604    LINESTRING (-46.69372 -23.75882, -46.69368 -23...
302605    LINESTRING (-46.69398 -23.75930, -46.69440 -23...
302606    LINESTRING (-46.43873 -23.51090, -46.43892 -23...
302607    LINESTRING (-46.43873 -23.51090, -46.43867 -23...
Name: geometry, Length: 302608, dtype: geometry

In [7]:
gdf_relationships

,u,v,key,osmid,oneway,lanes,name,highway,reversed,length,maxspeed,geometry,ref,access,bridge,junction,width,tunnel,est_width
0,573641,4345300990,0,26661283,True,2,Avenida Professor Frederico Herman JÃºnior,tertiary,False,33.384,NaN,"LINESTRING (-46.70397 -23.56299, -46.70373 -23...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,573641,465879071,0,493634438,True,3,Avenida Doutora Ruth Cardoso,trunk,False,25.403,60,"LINESTRING (-46.70397 -23.56299, -46.70408 -23...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,573643,292424978,0,"[692286399, 493634438, 936811959]",True,"[4, 3]",Avenida Doutora Ruth Cardoso,trunk,False,274.205,60,"LINESTRING (-46.70223 -23.56746, -46.70228 -23...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,573644,25619056,0,"[278712392, 278712395, 941564782, 941564783]",True,"[3, 5]",Marginal Pinheiros (Expressa),motorway,False,324.413,"[90, 60]","LINESTRING (-46.69923 -23.57296, -46.69994 -23...",SP-015,NaN,NaN,NaN,NaN,NaN,NaN
4,577239,6549930664,0,"[768965403, 1271869585, 710311587, 768965404]",True,5,Marginal Pinheiros (Local),secondary,False,178.305,90,"LINESTRING (-46.70207 -23.57183, -46.70181 -23...",NaN,no,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
302603,11813484297,6988024745,0,1168493019,False,NaN,Travessa Carlos Alberto,residential,True,124.230,NaN,"LINESTRING (-46.68869 -23.76126, -46.68854 -23...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
302604,11813484325,7317130290,0,"[966441340, 783485857, 783485860]",False,NaN,NaN,residential,"[False, True]",358.309,NaN,"LINESTRING (-46.69372 -23.75882, -46.69368 -23...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
302605,11813484348,7316934083,0,"[783472486, 1272177934]",False,NaN,NaN,residential,"[False, True]",101.652,NaN,"LINESTRING (-46.69398 -23.75930, -46.69440 -23...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
302606,11866827802,5399979502,0,161224927,True,NaN,Rua Mangue Vermelho,residential,False,19.655,NaN,"LINESTRING (-46.43873 -23.51090, -46.43892 -23...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
302607,11866827802,1705077872,0,1278242593,False,NaN,NaN,residential,True,15.417,NaN,"LINESTRING (-46.43873 -23.51090, -46.43867 -23...",NaN,NaN,NaN,NaN,NaN,NaN,NaN